@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Danh mục</h1>

<ul>
    <li>
        <a asp-area="Admin" asp-controller="Payment" asp-action="Index">Danh mục phương thức thanh toán</a>
    </li>
</ul>


